<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Song Detail</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
    <style>
        body {
            background: linear-gradient(to right, #667eea, #764ba2);
            font-family: Arial, sans-serif;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }
        
        .slider-track {
            background-color: #e5e7eb;
            border-radius: 9999px;
            height: 2px;
            position: relative;
        }

        .slider-thumb {
            background-color: #2563eb;
            border-radius: 50%;
            width: 4px;
            height: 4px;
            position: absolute;
            top: -1px;
            cursor: pointer;
        }
    </style>
</head>
<body class="bg-gray-100">
    <div class="max-w-3xl mx-auto py-8">
        <h1 class="text-3xl font-bold text-center mb-8">Song Detail</h1>
        <div class="bg-white rounded-lg shadow-md p-6">
            <p class="text-gray-600"><strong>Judul:</strong>{{ lagu.judul }}</p>
            <div class="genre-songwriter">
                <p class="text-gray-600"><strong>Genre(s):</strong></p>
                {% for genre in genre %}
                    <p class="text-gray-600">- {{ genre }}</p>
                {% endfor %}
            </div>
            <p class="text-gray-600"><strong>Artis(s):</strong></p>
            {% for artis in artis %}
                <p class="text-gray-600">- {{ artis }}</p>
            {% endfor %}
            <div class="genre-songwriter">
                <p class="text-gray-600"><strong>Songwriter(s):</strong></p>
                {% for songwriter in songwriter %}
                    <p class="text-gray-600">- {{ songwriter }}</p>
                {% endfor %}
            </div>
            <p class="text-gray-600"><strong>Durasi:</strong>{{ lagu.durasi }}</p>
            <p class="text-gray-600"><strong>Tanggal Rilis:</strong>{{ lagu.tanggal_rilis }}</p>
            <p class="text-gray-600"><strong>Tahun:</strong>{{ lagu.tahun }}</p>
            <p class="text-gray-600"><strong>Total Play:</strong>{{ lagu.total_play }}</p>
            <p class="text-gray-600"><strong>Total Downloads:</strong>{{ lagu.total_download }}</p>
            <p class="text-gray-600"><strong>Album:</strong>{{ lagu.album }}</p>
        </div>
        <div class="mt-8">
            <div class="slider w-full">
                <input type="range" min="0" max="100" value="0" class="slider-input w-full">
                <div class="slider-track">
                    <div class="slider-thumb"></div>
                </div>
            </div>
            <div class="slider-percentage" id="sliderPercentage">0%</div>
        </div>
        <div class="mt-8 flex justify-center">
            <button class="play-button bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mr-4">Play</button>
            <a href="{% url 'playlist:add_song' item_uuid=lagu.id %}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mr-4">add to playlist</a>
            <button class="download-button bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mr-4">Download</button>
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" onclick="window.history.back();" >Kembali</button>
        </div>
    </div>

     <!-- Modal -->
     <div id="modal" x-data="{ showModal: false }">
        <div class="fixed z-10 inset-0 overflow-y-auto" aria-labelledby="modal-title" role="dialog" aria-modal="true" x-show="showModal">
            <div class="flex items-center justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
                <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>
                <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>
                <div class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full">
                    <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                        <div class="sm:flex sm:items-start">
                            <div class="mx-auto flex-shrink-0 flex items-center justify-center h-12 w-12 rounded-full bg-green-100 sm:mx-0 sm:h-10 sm:w-10">
                                <svg class="h-6 w-6 text-green-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                                </svg>
                            </div>
                            <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
                                <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-title">
                                    Berhasil Mengunduh Lagu
                                </h3>
                                <div class="mt-2">
                                    <p class="text-sm text-gray-500">
                                        Berhasil Mengunduh Lagu dengan judul {{ lagu.judul }}!
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
                        <button @click="showModal = false" type="button" class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-blue-600 text-base font-medium text-white hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 sm:ml-3 sm:w-auto sm:text-sm">
                            Tutup
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/alpinejs@2.8.2/dist/alpine.min.js" defer></script>

    <script>
        var slider = document.querySelector('.slider');
        var sliderInput = slider.querySelector('.slider-input');
        var sliderThumb = slider.querySelector('.slider-thumb');
        var playButton = document.querySelector('.play-button');
        var downloadButton = document.querySelector('.download-button');
        

        sliderInput.addEventListener('input', function() {
            var percentage = (this.value - this.min) / (this.max - this.min);
            var thumbPosition = percentage * (slider.clientWidth - sliderThumb.clientWidth);
            sliderThumb.style.left = thumbPosition + 'px';
            sliderPercentage.textContent = Math.round(percentage * 100) + '%';
        });

        playButton.addEventListener('click', function() {
            var sliderValue = sliderInput.value;
            var threshold = 70;
            var id = '{{ lagu.id }}';
            var playlist = '{{ playlist }}';
            if (sliderValue >= threshold) {
                console.log("Memutar lagu dengan id " + id + "..." + " di playlist " + playlist);
                fetch ("{% url 'playlist:playsong' %}", {
                    method: 'POST',
                    body: JSON.stringify({
                        lagu: id
                    })
                }).then(response => {
                    if (response.ok) {
                        //refresh
                        window.location.reload();
                    } else {
                        //tshow error message in web
                        console.log("Gagal memutar lagu.");
                    }
                })
            } else {
                console.log("Slider harus diatur di atas 70% untuk memutar lagu.");
            }
        });

        downloadButton.addEventListener('click', function() {
            var id = '{{ lagu.id }}';
            console.log("Mendownload lagu dengan id " + id + "...");
            // call async a link with body a song id
            fetch ("{% url 'playlist:handle_download' %}", {
                method: 'POST',
                body: JSON.stringify({
                    lagu: id
                })
            }).then(response => {
                if (response.ok) {
                    document.getElementById('modal').__x.$data.showModal = true;
                } else {
                    return response.text().then(errorMessage => {
                    alert('Error: ' + "Anda bukan premium atau anda sudah mendownload lagu ini sebelumnya.");
                });
                }
            })
        });
    </script>
</body>
</html>