<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> </title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" />
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background: linear-gradient(to right, #667eea, #764ba2);
        }
    
        .navbar {
            background-color: #333;
            overflow: hidden;
        }
    
        .navbar a {
            float: left;
            display: block;
            color: #f2f2f2;
            text-align: center;
            padding: 14px 20px;
            text-decoration: none;
        }
    
        .navbar a:hover {
            background-color: #ddd;
            color: black;
        }
    
        .content {
            padding: 20px;
        }
        </style>
    </head>
    <body>
        <div class="navbar">
            <a href="{% url 'main:dashboard' %}">Dashboard</a>
            <a href="{% url 'chart:lihat_chart' %}">Chart</a>
            <a href="{% url 'search:search_bar' %}">Search Bar</a>
            <a href="{% url 'playlist:show_playlist' %}">Kelola Playlist</a>
            <a href="{% url 'langganan:langganan_paket' %}">Langganan Paket</a>
            {% if akun.premium %}
                <a href="{% url 'download:downloaded_songs' %}">Kelola Downloaded Songs</a><!-- Hanya untuk Premium -->
            {% endif %}
    
            {% if 'podcaster' in akun.role %}
                <a href="{% url 'podcast:show_podcast' %}">Kelola Podcast</a><!-- Hanya untuk Podcaster -->
            {% endif %}
    
            {% if 'artis' in akun.role or 'songwriter' in akun.role %}
                <a href="{% url 'album:album_list' %}">Kelola Album & Songs</a><!-- Hanya untuk Artist/Songwriter -->
                <a href="{% url 'royalti:royalti_list' %}">Cek Royalti</a><!-- Hanya untuk Artist/Songwriter/label -->
            {% endif %}
            <a href="#">Logout</a>
        </div>
    <div class="container mx-auto py-8">
        <h1 class="text-3xl font-bold mb-6">User Playlist Detail</h1>
        
        <!-- If no playlist -->
        {% if not playlist %}
            <h2 class="text-xl mb-4">Anda Belum Memiliki Playlist <i class="far fa-sad-tear"></i></h2>
            <a href="{% url 'playlist:add_playlist' %}" class="text-yellow-500 hover:underline"><i class="fas fa-plus-circle mr-1"></i>Tambah Playlist</a>
        
        <!-- If there are playlists -->
        {% else %}
            <h2 class="text-xl mb-4">Daftar Playlist</h2>
            <table class="w-full bg-white rounded-md shadow-md">
                <thead class="bg-gray-800 text-white">
                    <tr>
                        <th class="px-6 py-4">Judul</th>
                        <th class="px-6 py-4">Jumlah Lagu</th>
                        <th class="px-6 py-4">Total Durasi</th>
                        <th class="px-6 py-4">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Loop through each playlist -->
                    {% for playlist in playlist %}
                        <tr>
                            <td class="px-6 py-4">{{ playlist.judul }}</td>
                            <td class="px-6 py-4">{{ playlist.jumlah_lagu }}</td>
                            <td class="px-6 py-4">{{ playlist.total_durasi }} menit</td>
                            <td class="px-6 py-4">
                                <a href="{% url 'playlist:detail' item_uuid=playlist.id_user_playlist %}" class="text-blue-500 hover:underline mr-2"><i class="fas fa-info-circle"></i> Detail</a>
                                <form action="{% url 'playlist:show_edit_playlist' item_uuid=playlist.id_user_playlist %}" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="playlist_id" value="{{ playlist.id_user_playlist }}">
                                    <button type="submit" class="text-blue-500 hover:underline mr-2"><i class="fas fa-info-circle"></i> Ubah</button>
                                </form>
                                <a href="#" class="text-red-500 hover:underline"><i class="fas fa-trash-alt"></i> Hapus</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a href="{% url 'playlist:add_playlist' %}" class="text-yellow-500 hover:underline mt-4"><i class="fas fa-plus-circle mr-1"></i>Tambah Playlist</a>
        {% endif %}
    </div>
</body>
</html>
